@model ModalLayer.Models.EmployeeModel

@{
    ViewData["Title"] = "AddEmployee";
}

<h1>AddEmployee</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="profileimage" class="control-label"></label>
                @Html.RadioButtonFor(model => model.profileimage, "~/Assets/Ellipse_10.png")
                <img src="~/Assets/Ellipse_10.png" />
                @Html.RadioButtonFor(model => model.profileimage, "~/Assets/Ellipse_5.png")
                <img src="~/Assets/Ellipse_5.png" />
                @Html.RadioButtonFor(model => model.profileimage, "~/Assets/Ellipse_7.png")
                <img src="~/Assets/Ellipse_7.png" />
                @Html.RadioButtonFor(model => model.profileimage, "~/Assets/Ellipse_8.png")
                <img src="~/Assets/Ellipse_8.png" />
               <!-- <input asp-for="profileimage" class="form-control" /> -->
                <span asp-validation-for="profileimage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                
                @Html.RadioButtonFor(model => model.gender, "Male")
                male
                @Html.RadioButtonFor(model => model.gender, "Female")
                Female
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="department" class="control-label"></label>
               <!-- <input asp-for="department" class="form-control" /> -->
                <select asp-for="department" class="form-control" asp-items="new SelectList(ViewBag.Department)">
                    <option value="">Select Your department</option>
                </select>
                <span asp-validation-for="department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salary" class="control-label"></label>
                <input asp-for="salary" class="form-control" />
                <span asp-validation-for="salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="notes" class="control-label"></label>
                <input asp-for="notes" class="form-control" />
                <span asp-validation-for="notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllEmployees">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
