@model IEnumerable<ModalLayer.Models.EmployeeModel>

@{
    ViewData["Title"] = "GetAllEmployees";
}

<link rel="stylesheet" href="~/css/GetAll.css" />
<h1>GetAllEmployees</h1>

<p>
    <a asp-action="AddEmployee">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.profileimage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.employeeID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.profileimage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notes)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditEmployee", new {  id=item.employeeID}) |
                    @Html.ActionLink("Details", "GetEmployee", new { id=item.employeeID}) |
                    @Html.ActionLink("Delete", "DeleteEmployee", new { id=item.employeeID })
            </td>
        </tr>
}
    </tbody>
</table>
